* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
   
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    color: white;
    width: 100%;
     height: auto;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  header{
    background-color:white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 5px rgb(189, 189, 189);
   position: fixed;
   color: rgb(28, 222, 236);
   text-align: center;
   position: fixed;
}
.container .temporal{
  background-color: rgb(28, 222, 236);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.temporal ul{
  background-color: rgb(28, 222, 236);
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: auto;
  height: 100%;
}
.temporal ul li{
  background-color: rgb(28, 222, 236);

}
.temporal a{
  background-color: rgb(28, 222, 236);
  font-size: 1rem;
  color: rgb(26, 14, 14);
  font-weight: 700;
}
.Titulo{
    width: 100%;
text-align: center;
font-weight: 700;
font-size: 2rem;
}
  
  h1 {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .container {
padding-top: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(28, 222, 236);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: rgb(255, 255, 255);
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(255, 255, 255);
  }
  
  input {
    width: 50%;
    outline: none;
    color: rgb(255, 255, 255);
  }
  
  .li-container {
    background-color: rgb(28, 222, 236);;
    width: 80%;
    color: darkslategray;


  }
  
  .tareas{
      width: 100%;
     height: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: flex-start;
  }
  
  li {
    width: 100%;
    list-style: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
  }
  
  li p {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
  
  .btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    width: 25%;
    font-size: 1.2em;
  }
  .btn-edit {
    margin-left: auto;
    border: none;
    background-color: #e39117;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 25%;
    font-size: 1.2em;
  }
  
  .btn-delete:hover {
    cursor: pointer;
    background-color: lightseagreen;
  }
  .btn-edit:hover {
    cursor: pointer;
    background-color: lightseagreen;
  }
  
  .btn-add {
    width: 25%;
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
  }
  
  .btn-add:hover {
    cursor: pointer;
    background-color: darkcyan;
  }
  
  .empty {
    color: darkslategrey;
    width: 100%;
    text-align: center;
  
    
  }
  .rojito::placeholder {
    color: rgb(236, 25, 17);
    border-color: 10px solid rgb(236, 25, 17);
    font-weight: 700;
  }
  .grisesito::placeholder {
    color: rgb(165, 168, 168);
  }
  .naranjita::placeholder {
    color: rgb(236, 148, 17);
    font-weight: 700;
  }
  
  /*---------------------------------------------------------------------------footer*/
footer{
    padding-top: 15px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     background-color:#BFBFBF;
     width: 100%;
     height:auto;
 }
 footer h1{
 color: rgb(240, 240, 240);    
 font-weight: 700;
 font-size: 1rem;
 margin-bottom: 10px;
 }
 footer a{
 color: #dddddd;    
 font-weight: 700;
 font-size: .5rem;
 width: 20px;
 height: 20px;
 }
 .lista{
     margin-left: 20px;
     margin-right: 20px;
     
 }   
 .lista li{
     margin-bottom: 5px;
 }
 
 
 .redes{
     width: 100%;
     height: 50px;
     display: flex;
     justify-content: start;
     align-items: flex-start;
 }
 
 .twitter-logo{
     background-image: url(./img/1485972269-twitersocialnetworkbrandlogo_78989.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     width: 25px;
     height: 20px;
     margin-right: 10px;
     margin-left: 10px;
 }
 .facebook-logo{
     background-image: url(./img/1485972229-facebooksocialnetworkbrandlogo_78984.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 11px;
     height: 20px;
     margin-right: 10px;
     margin-left: 10px;
 }
 .youtube-logo{
     background-image: url(./img/1485972299-youtubesocialnetworkbrandlogo_79028.svg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     width: 25px;
     height: 20px;
     margin-right: 10px;
     margin-left: 10px;
 }
 .github-logo{
     background-image: url(./img/GITHUB_icon-icons.com_65553.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     width: 25px;
     height: 20px;
     margin-right: 10px;
     margin-left: 10px;
 }