section{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;

}
h1{
    text-align: center;
    color: yellowgreen;
}

input{
    cursor: pointer;
    margin: 10px;
    width: 250px;
    height: 150px;
    font-size: 1rem;
    text-align: center;
    background-color: yellowgreen;
    color: white;
    font-weight: 700;
    border-radius: 10px 10px 10px 10px;
   
}
input:hover{
background-color: red;


}