* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
    color: white;
    
}

.c1{
    background-color: black;
}
.c2{
    background-color: darkblue;
}
.c3{
    background-color: wheat;
}
.c4{
    background-color:hotpink;
}
.c5{
    background-color:red;
}

/* --------------------------------------------------------------Comienza es CSS a los 800 px*/

@media (min-width: 800px){
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1{
        width: 20%;
        order: 1;
    }
    .c2{
        width: 50%;
    }
    .c3{
        width: 50%;
    }
    .c4{
        width: 80%;
        height: auto;
        order: 3;
    }
    .c5{
        width: 100%;
        order: 2;
    }


}