
.section_1{
    height: 100vh;
}
.section_1_text{
    order: 2;
width: 50%;
height: 75vh;
}
.section_1_text h1{
   font-size: 6rem;
}
.section_1_text h2{
    font-size: 2rem;
 }

.section_1_image{
    order: 1;
    background-image: url(./img/graduation\ sqare.svg);
    background-position:center;
   background-size:cover;
   width: 50%;
   height: 100vh;
}
.titulo-principal{
    font-size: 4rem;
}

.imagen3{
    background-image: url(./img/undraw_monitor_iqpq.svg);
    background-position: center;
}
.section_2{
    height: 100vh;
}
.section_3{
    height: 100vh;
}
.imagen3{
    height: 70%;
}
.titulo3{
    height: 70%;
    font-size: 6rem;
}
.p1{
    height: 30%;
    font-size: 3rem;
}