
/*---------------------------------------------------------------------------seccion 1*/

.section_1_text{
    order: 1;
width: 50%;
}
.section_1_image{
    order: 2;
    background-image: url(./img/rectangle.svg);
    background-position:center;
   background-size:cover;
   width: 50%;
   height:320px;
}


/*---------------------------------------------------------------------------seccion 2*/

/*---------------------------------------------------------------------------seccion 3*/

.imagen3{
    order: 2;
    width: 50%;
    background-image: url(./img/undraw_monitor_iqpq.svg);
}
.titulo3{
    order: 1;
    width: 50%;
}
.p1{
    order: 3;
    width: 100%;
    
}
/*---------------------------------------------------------------------------footer*/
footer{
    height:250px;
    justify-content: space-around;
}
